<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /tid201/g1
RewriteRule ^tid201/g1/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /tid201/g1/index.html [L]
</IfModule>