@charset "UTF-8";
#menu {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
}

#container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-image: url("@/Assets/img/myBookcase/backimage.png");
}

.backToHome_button {
  position: absolute;
  bottom: 20px;
  right: 170px;
}

button.backToHome {
  outline: none;
  border: none;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "Aleo";
  text-transform: uppercase;
  font-size: 20px;
}

.btnLink {
  padding: 0;
  opacity: 70%;
}
.btnLink:hover {
  opacity: 100%;
}
.btnLink.active {
  opacity: 1;
}

.btnLink.whiteForFrontPage {
  color: #f9faf9;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  display: flex;
  gap: 0px;
  padding: 5px;
  position: relative;
}

.btnLink.whiteForFrontPage::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5px;
  width: 0;
  background-color: #f9faf9;
  transition: width 0.4s ease;
  transform-origin: left;
}

.btnLink.whiteForFrontPage:hover::after,
.btnLink.whiteForFrontPage.active::after {
  width: 100%;
}

.btnLink.whiteForFrontPage.active::after.whiteForFrontPage:hover .cols {
  display: flex;
  transform: translateX(4%);
}

.btnLink.whiteForFrontPage:hover .cols span:nth-child(2) {
  display: none;
}

/* 元件的主要元素 */
:deep(.element) {
  width: 130px;
  height: 160px;
  box-shadow: 0px 0px 12px rgba(0, 255, 250, 0.5);
  border: 3px solid rgba(239, 235, 226, 0.25);
  font-family: Helvetica, sans-serif;
  text-align: center;
  line-height: normal;
  cursor: default;
  /* background-color: rgba(0, 127, 127,0.725); */
}

:deep(.element:hover) {
  box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.75);
  border: 1px solid rgba(22, 81, 159, 0.75);
}

:deep(.element .number) {
  position: absolute;
  padding: 0;
  bottom: 5px;
  right: 20px;
  font-size: px;
  color: rgba(127, 255, 255, 0.75);
}

:deep(.element .symbol) {
  position: absolute;
  padding: 0;
  top: 30px;
  left: 0px;
  right: 0px;
  font-size: 60px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
}

:deep(.element .details) {
  position: absolute;
  padding: 0;
  bottom: 2px;
  left: 0px;
  right: 0px;
  font-size: 18px;
  color: rgba(127, 255, 255, 0.75);
}

/* 按鈕樣式 */
button {
  margin: auto;
  color: rgba(127, 255, 255, 0.75);
  background: transparent;
  outline: 1px solid rgba(127, 255, 255, 0.75);
  border: 0px;
  padding: 5px 10px;
  cursor: pointer;
  display: inline;
  gap: 10px;
}

button:hover {
  box-shadow: #f4f4f2;
}

button:active {
  box-shadow: #f4f4f2;
}

/* 關閉按鈕樣式 */
:deep(.close-btn) {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  background-color: rgba(0, 217, 255, 0.564);
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
}

:deep(.close-btn-d-none) {
  display: none;
}/*# sourceMappingURL=myBookcase.css.map */