.AddCover {
  width: 100%;
  position: relative;
  display: flex;
  gap: 10px;
  .coverView{
    width: 400px;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 20px;
    position: sticky;
    left: 10px;
    top: 0;
  }
  .coverSetting{
    width: 100%;
    margin-top: 80px;
    padding: 0 10px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .side {
    width: 220px;
    height: 305px ;
    background-color: #eead50;
    align-items: center;
    justify-content: center;
    position: relative;
    .coverImg{
      width: 220px;
      height: auto;
    }
  }
  //frontSide
  .User-preview{
    position: absolute;
    top: 95px;
    left: 22px;
    width: 175px;
    height: 175px;
    display: flex;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    .customImg{
      width: auto;
      height: 100%;
      inline-size: -webkit-fill-available;
    }
  }

  // title 文字共用
  .titleGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    justify-content: center;
    p {
      @include Aleo-AG(16px,$baseOrange);
    }
    h2{
      @include FanwoodText-AG(24px,$baseBlue);
    }
  }
  .subtitle {
    @include FanwoodText-Normal(16px,$baseBlue);
    font-weight: 600;
    .spanBold {
      @include Aleo-AG(16px,$baseOrange);
      padding-left: 5px;
    }
  }

  // FrontCover
  .FrontCover {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .inputFileGroup {
    // 排版
    width: 85%;
    height: 360px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    // 樣式
    background-color: #dee2e6;
    border-radius: 10px;
    img {
      width: 80px;
      height: auto;
    }
  }

  // backCover
  .backCover{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  // FinishBtn
  .FinishBtn {
    margin-bottom: 50px;
  }

}
