.CreateNewProject{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px ;
    .project{
        margin-top: 15px;
        width: calc(100%/2);
        height: 450px;
        background-color: $subWhite;
        border-radius: 2%;
        box-shadow: 0px 4px 30px 0px rgb(21, 50, 67,0.6);
    }
    input{
        all: initial;
        width: 400px;
        border-bottom: $baseBlue solid 1px;
        text-align: center;
    }
    input::placeholder {
        @include FanwoodText-Normal(20px, rgb(21, 50, 67,50%));
      }
}