// 變數
$border: $baseBlue solid;

.ProjectMenu {
  width: 100%;
  display: flex;
  gap: 10px;

  // -----------------------
  // sidebar架構
  // -----------------------
  .sidebar {
    // 位置
    position: sticky;
    left: 1vw;
    top: 0;
    // 外觀
    max-width: 250px;
    width: 100%;
    height: 50vh;
    min-height: 320px;

    // 內容排版
    display: flex;
    flex-direction: column;
    border-left: $border;
    border-right: $border;
    border-bottom: $border;
    background-color: $subWhite;
    padding-bottom: 50px;
  }
  // user 物件
  .user {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: $baseBlue solid;
    .useImg {
      width: 180px;
      height: 180px;
      border-radius: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: $baseBlue solid;
      .avatar {
        position: relative;

        width: 85%;
        height: 85%;
        border-radius: 80%;
        background-color: $subGray;
        overflow: hidden;
        .avaterBg {
          position: absolute;
          z-index: 1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(0.3);
          // transform-origin: top left;
        }
        .avaterImg {
          z-index: 100;

          position: relative;
          transform: scale(0.51);
          transform-origin: top left;
        }
      }
      .tab-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-top: $baseBlue solid;
        cursor: pointer;
      }
    }
  }
  // -----------------------
  // TabBTN 在 Component btn.scss
  // -----------------------
  // -----------------------
  // main架構
  // -----------------------
  main {
    flex: 1;
    padding: 20px;
    z-index: 2;
  }
}
