.member-center {
  // 變數
  $border: $baseBlue solid;

  //--------------------------------
  // mixin Tab-btn
  //--------------------------------
  @mixin btnTab($basecolor, $subcolor, $fontsize) {
    display: flex;
    width: 100%;
    border-bottom: $basecolor solid;
    .text {
      padding: 5px 10px;
      color: $basecolor;
      width: 100%;
      font-size: $fontsize;
    }
    .tab-cross {
      position: relative;
      width: 40px;
      border-left: $basecolor solid;
      .cols {
        @include cols(2px, $basecolor);
      }
      .rows {
        @include rows(2px, $basecolor);
      }
    }
    /* hover */
    &:hover {
      .tab-cross {
        position: relative;
        height: auto;
        width: 40px;
        background-color: $basecolor;
        .cols {
          @include cols(2px, $subcolor);
          transform: translateX(calc(4%));
          span:nth-child(2) {
            display: none;
          }
        }
        .rows {
          @include rows(2px, $subcolor);
        }
      }
    }
  }

  // 外層架構
  .sidebar {
    position: sticky;
    top: 0;
    height: calc(100vh - 100px); /* header 80 + boder上下 20 */
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    width: 100%;
    border-left: $border;
    border-right: $border;
    background-color: $subWhite;
    .user {
      width: 100%;
      height: 250px;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  // 內層物件
  .useImg {
    width: 100%;
    height: 100%;
    border-radius: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: $baseBlue solid;
    .avatar {
      position: relative;
      width: 85%;
      height: 85%;
      border-radius: 80%;
      background-color: $subGray;
      overflow: hidden;
      text-align: center;
      .avaterBg {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.34);
        opacity: 0.9;
        // transform-origin: top left;
      }
      .avaterImg {
        z-index: 100;
        position: relative;
        transform: scale(0.57);
        transform-origin: top left;
      }
    }
  }

  .tab-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: $baseBlue solid;
    cursor: pointer;
  }

  .btnTab {
    @include btnTab($baseBlue, $subWhite, 20px);
  }

  .btnTab-click {
    @include btnTab($baseBlue, $subWhite, 18px);
    .text {
      background-color: $baseBlue;
      color: $subWhite;
    }
  }

  .btnTab-list {
    @include btnTab($baseBlue, $subWhite, 18px);
  }
}
